@import 'tipografia.scss';
$preto:#000;
$branco:#FFF;
$cinza:#C7C7C7;
*{
    font-family: $font-poppins-black;
}
@mixin centro{
    text-align: center;
}
.navbar{
        background-color: $preto;
}
.navbar-nav .nav-link {
    color: $branco; 
    transition: color 0.3s; 
}
.navbar-nav .nav-link:hover {
color: $cinza}