@import 'tipografia.scss';
$preto:#000;
$branco:#FFF;
$cinza:#C7C7C7;
$azul-linkedin:#0073B1;
$verde-whatsapp:#006400;
$laranja-instagram:#f09433;
$verde-cactwo:#38453E;
$fundo-scroll: #262626;
$scroll-negocio: #8d713f;

@mixin centro(){
  display: flex;
  justify-content: center;
}

body {
  background-color: $preto;
  --sb-track-color: $fundo-scroll;
  --sb-thumb-color: $scroll-negocio;
  --sb-size: 12px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
  border: 1px solid $scroll-negocio;
  }

@mixin borda($cor){
    background-color: $cor;
    color: $branco;
    border: solid $branco 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
    padding: 1%;
    margin-right: 3%;
}
html{
  scroll-behavior: smooth;
}
.card{
  margin-right: 20px;
}
.portifolio-items{
  @include borda($cor: $branco);
  padding: 0;
  color: $preto;
  img{
    @include centro();
    max-width: 400px;
  }
  a{
    color: $preto;
    transition: all 0.5s;

    &:hover{
      filter: brightness(80%);  
      transition: all 0.5s;
    }
  }
}
.splide {
  max-height: 400px; /* Ajuste a altura conforme necessário */
  overflow: hidden;
}

.splide__slide {
  display: flex;
}

.card.portifolio-items {
  margin-right: 15px; /* Ajuste o espaçamento entre os cards conforme necessário */
}
#linkedin{
    @include borda($cor:$azul-linkedin);
}
#instagram{
    @include borda($cor:$laranja-instagram);
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
#whatsapp{
    @include borda($cor:$verde-whatsapp);
}
.normal{
    @include borda($cor:$verde-cactwo);
    color: $branco;
    padding: 0.1% 0.3% 0.1% 0.3%;
    transition: all 0.5s ease-in;
    &:hover{
      transition: all 0.5s ease-in;
      background-color: $branco;
      color: $preto;
    }
}
.apertado{
  @include borda($cor:$branco);
  padding: 0.1% 0.3% 0.1% 0.3%;
  transition: all 0.5s ease-in;
  color: $preto;
  &:hover{
    @include borda($cor:$branco);
    padding: 0.1% 0.3% 0.1% 0.3%;
    color: $preto;
  } 


}

*{
    font-family: $font-poppins-black;
}
.hide {
    display: none !important;
}


.titulo{
    font-family: $fonte-titulo;
}
.navbar{
        background-color: $preto;
}
.navbar-nav .nav-link {
    color: $branco; 
    transition: color 0.3s; 
}

.navbar-nav .nav-link:hover {
color: $cinza
}
#logo{
    margin-left: 7vh;
}
#fotinha, #logue{
    margin-left: 8vh;
}
.navbar-toggler, .navbar-toggler-icon{
    background-color: $cinza;
    border:solid $preto 2px;
    border-radius: 10px;
    border: none;
}
#navbarScroll{
transition: all 0.5s;
}
#fundo-bem-vindo{
    background: url(../img/fundo-teste.png);

}
#fotinha{
    clip-path: circle(50% at 50% 50%);
}
.custom-list {
    list-style-type: none;
    margin-top: -13%;
    margin-left:-4vh;
  }
  
  .custom-list li::before {
    content: "🌵";
    display: inline-block;
    margin-right: 10px;
    transform: translateY(2px);
    transition: transform 0.5s ease;
  }
  
  .custom-list li.active::before {
    transform: rotate(90deg) translateY(2px);
  }
  
  .custom-list h3 {
    font-family: $fonte-titulo;
    font-size: x-large;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .custom-list li p {
    font-family: $font-poppins-normal;
    font-weight: 500;
    margin-top: 2%;
    opacity: 0; 
    transition: opacity 0.5s ease; 
  }
  
  .custom-list li.active p {
    opacity: 1; 
  }
  
  .custom-list li {
    margin-top: 10%;
  }
  
  .custom-list li:last-child button {
    margin-right: 5px;
  }


  #fundo-verde{
    background-color: $verde-cactwo;
    color: $branco;
    h1{
    font-family: $fonte-titulo;
  }
}
.splide__arrows.splide__arrows--ltr{
  display: none;
}
/*
#fundoCacto {
  min-width: 400px;
  max-width: 100%;
  height: auto;
  background: url(../img/fundo-cactosinhos.png);
  background-repeat: no-repeat;
  color: $branco;
  border: solid $branco;

  h1, h5 {
    font-family: $fonte-titulo;
  }
}
*/

 .botao-verde{
  background-color: $verde-cactwo;
  color: $branco;
  transition: all 0.5s;
  &:hover{
    transition: all 0.5s;
    background-color: $verde-cactwo;
    filter: brightness(90%);  
  }
 }
 svg:hover, #whatsapp:hover, #instagram:hover, #linkedin:hover {
  transition: all 0.5s;
  filter: brightness(90%);  
 }
 svg{
  transition: all 0.5s;
 }